main {
  display: flex;
  justify-content: center;
}

.greet-msg {
  background-color: rgb(242, 242, 139);
  color: black;
  border: 0.13rem solid black;
  border-radius: 0.7rem;
  width: 70%;
}

p {
  text-align: left;
}

em {
  font-weight: bold;
}

.greet-msg h1 {
  position: relative;
  margin-bottom: 1.2rem;
}

.greet-msg h1::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: -0.5rem;
}
