.navbar {
  background: #7147e5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  border-radius: 0.7rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  flex-direction: row-reverse;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  /* width: calc(100% - 1rem); */
  transition: transform 0.3s;
  z-index: 1000;
  max-height: 20px;
  border: 0.13rem solid black;
}

.navbar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.6rem;
  height: 0.13rem;
  background-color: black;
}

.right-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.left-links {
  width: 10%;
  display: flex;
  justify-content: center;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 650;
  transition: opacity 0.2s, color 0.2s;
}

.nav-link:hover {
  opacity: 0.85;
  color: #90e0ef;
}

