.greetin-block {
  background-color: rgb(255, 231, 76);
  color: black;
  border-radius: 0.7rem;
  border: 0.13rem solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 2rem;
}

.greetin-block h1 {
  margin: 1rem 0 0.5rem;
}

.greetin-block p {
  background-color: rgb(180, 173, 234);
  width: 100%;
  text-align: center;
  border-top: 2px solid black;
  padding: 1rem;
  margin: 0;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.sound-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: row;
  align-content: center;
}

.audio-player-container {
  flex: 1 1 300px;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
}
