.dashboard-page {
  padding-top: 60px;
}

.greetin-block {
  background-color: rgb(255, 231, 76);
  color: black;
  border-radius: 0.7rem;
  border: 0.13rem solid black;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 2rem;
}

.greetin-block h1 {
  margin: 1rem 0 0.5rem;
}

.greetin-block p {
  background-color: rgb(180, 173, 234);
  width: 100%;
  text-align: center;
  border-top: 2px solid black;
  padding: 1rem;
  margin: 0;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.sound-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.5rem;
  justify-items: center;
  align-items: start;
  padding: 1rem;
}

.audio-player-container {
  width: 100%;
  max-width: 400px;
}
